<div>
  <div class="booking py-5">
    <div class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <div class="title py-3 px-4" style="background-color: #00266b">
            <h3 class="text-white fw-bold fs-5 mb-0">BOOK TRIP</h3>
          </div>
          <div class="content px-4 border shadow">
            <div
              class="content-item py-4 border-bottom d-flex align-items-center justify-content-between"
            >
              <span class="fs-4" style="color: #00266b"
                >Hi, where would you like to go?</span
              >
              <div class="right">Express Booking - quicker, easie</div>
            </div>
            <div
              class="content-item py-3 d-flex align-items-center justify-content-between"
            >
              <div class="d-inline-flex align-items-center">
                <input type="radio" class="me-2" />
                <span class="me-4">Book flights</span>
                <input type="radio" class="me-2" />
                <span>Redeem flights</span>
              </div>
              <div class="d-inline-flex align-items-center">
                <a href="" class="text-decoration-none me-4"
                  >Apply promo code</a
                >
                <a href="" class="text-decoration-none"
                  >Multi city / Stopovers</a
                >
              </div>
            </div>
            <div
              class="content-item d-flex mb-3 align-items-center justify-content-between"
            >
              <div class="d-inline-flex align-items-center">
                <input
                  type="text"
                  class="form-control py-3"
                  placeholder="From"
                />
                <input
                  type="text"
                  class="me-2 form-control py-3"
                  placeholder="To"
                />
              </div>
              <div class="d-inline-flex align-items-center">
                <input
                  type="text"
                  class="form-control py-3"
                  placeholder="Depart Date"
                />
                <input
                  type="text"
                  class="me-2 form-control py-3"
                  placeholder="Return Date"
                />
              </div>
            </div>
            <div class="content-item d-flex mb-3 align-items-center pb-4">
              <div class="row w-100 g-2">
                <div class="col-md-5">
                  <div class="d-flex align-items-center">
                    <select class="form-control py-3 w-100">
                      <option value="">Premium Economy</option>
                      <option value="">Economy</option>
                      <option value="">Business</option>
                      <option value="">First/Suites</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-5">
                  <div class="d-flex align-items-center">
                    <select class="form-control py-3 w-100">
                      <option value="">Adult</option>
                      <option value="">Children</option>
                      <option value="">Infants</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-2">
                  <button
                    class="btn text-white py-3 px-5"
                    style="background-color: #00266b"
                  >
                    SEARCH
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="loop-img2 py-5 text-bg-light" style="background-color: #f6f7f8">
    <div
      class="container-fluid text-bg-light d-flex align-items-center justify-content-center"
    >
      <div class="row">
        <div class="title d-flex justify-content-center mb-5">
          <h2 class="fw-bold">Discover your next destination</h2>
        </div>
        <div class="content d-inline-flex justify-content-center w-100">
          <div
            id="carouselExample"
            class="carousel slide border-bottom w-100"
            style="overflow: hidden"
          >
            <div class="carousel-inner">
              <div class="container px-5">
                <div class="carousel-item w-100 active">
                  <div
                    class="row g-3 mb-2 px-5 d-flex justify-content-center"
                    style="margin-bottom: -20px"
                  >
                    <div class="col-md-3 col-sm-12">
                      <img src="img/loop2/01.jpg" alt="" />
                    </div>
                    <div
                      class="col-md-6 col-sm-12 pt-5"
                      style="padding-left: 30px"
                    >
                      <div class="title fw-bold fs-3 pb-4" style="color: black">
                        Explore the history of <br />Atlanta
                      </div>
                      <p>
                        The city of Atlanta is also known as the Big Peach for
                        its abundance of the juicy stone fruit. Atlanta
                        continues to grow tremendously each year and adds even
                        more things to do! Enjoy free live music every Sunday at
                        Park Tavern in Piedmont Park, absorb the scenery along
                        the Atlanta BeltLine and feast at Ponce City Market.
                        Learn about Martin Luther King and Margaret Mitchell,
                        and tour the Georgia Aquarium and Coca Cola Factory in
                        Downtown Atlanta.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden" style="color: black">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExample"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="height: 400px; background-color: #00164d">
    <div
      class="container py-5 d-flex justify-content-center align-items-center"
    >
      <div class="row text-center">
        <div class="title">
          <h2 class="text-white fs-1 fw-bold py-4">
            Take advantage of our discounts up to <br />
            40% off!
          </h2>
          <p class="fs-4" style="color: gray">Sign up today</p>
          <form
            action=""
            class="mt-5 d-flex align-items-center justify-content-center"
          >
            <input
              type="text"
              class="form-control w-80 py-3 me-2"
              placeholder="Your e-mail address"
            />
            <a
              href=""
              class="btn py-3 px-4 text-white fw-bold"
              style="background: #0775e2"
              >Subscribe</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
