<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div>
      <nav
        class="navbar small navbar-expand-md d-inline-flex align-items-center fixed-top"
        style="background-color: rgba(45, 43, 43, 0.089)"
      >
        <div class="container-lg">
          <a
            class="navbar-brand text-white d-inline-flex align-items-center"
            href="#"
          >
            <img src="img/sprite_footer (2).png" class="me-2" alt="" />
            <span class="fw-bold fs-2"> Sky</span><span>.com</span></a
          >
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarID"
            aria-controls="navbarID"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="collapse navbar-collapse justify-content-between"
            id="navbarID"
          >
            <ul class="navbar-nav">
              <li class="nav-item">
                <a
                  class="nav-link active text-white fs-6 me-2"
                  aria-current="page"
                  href="flightHotel.html"
                  >Flight+Hotel</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-white fs-6 me-2"
                  aria-current="page"
                  href="#"
                  >Book tris</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-white fs-6 me-2"
                  aria-current="page"
                  href="#"
                  >City break</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-white fs-6 me-2"
                  aria-current="page"
                  href="#"
                  >Vacation</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-white fs-6 me-2"
                  aria-current="page"
                  href="#"
                  >Stays</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-white fs-6 me-2"
                  aria-current="page"
                  href="#"
                  >Car</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-white fs-6 me-2"
                  aria-current="page"
                  href="#"
                  >Deals</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link text-white fs-6 me-2"
                  aria-current="page"
                  href="#"
                  >Insurance</a
                >
              </li>
            </ul>
            <div
              class="navbar-nav text-white fs-6 d-inline-flex align-items-center"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-box-arrow-in-right me-2"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z"
                />
                <path
                  fill-rule="evenodd"
                  d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"
                />
              </svg>
              Log in
            </div>
          </div>
        </div>
      </nav>
      <div class="background-image">
        <div class="container-fluid py-5" style="height: 30rem">
          <div
            class="row d-flex align-items-center justify-content-center text-center"
          >
            <div class="col-md-6 text-white fw-bold mt-4">
              <h3 class="fw-bold fs-2 m-5">
                Flight tickets, hotels, car rentals...<br />
                Explore city break your way
              </h3>
            </div>
          </div>

          <div
            class="row d-flex align-items-center justify-content-center text-center"
          >
            <div class="col-md-6 text-white fw-bold"></div>
          </div>
        </div>
      </div>
    </div>
    <script src="js/libs/angular.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
  </body>
</html>
